/* Общие */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Kaushan Script", cursive;
font-weight: 400;
font-style: normal; */

:root{
    --orange:#d8792c;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 60%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section{
    padding: 2rem 9%;
}



/* Секция products */
.products .heading{
    font-family: "Kaushan Script", cursive;
    font-size: 3rem;
    padding: 1.5rem;
    color: #333;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}


.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .content{ 
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-family: "Kaushan Script", cursive;
    font-size: 1.5rem;
    color: #333;
}

.products .box-container .box .content .price{
    font-size: 2rem;
    color: var(--orange);
    font-weight: 300;
    padding-top: 1rem;
}


/* Секция details */

.details .box-container{
    padding: 8rem 3%;
    
}

.details .box-container .box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex: 1 1 0;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}


.details .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 1rem;
}

.details .box-container .box .image img{
    height:40rem;
}

.details .box-container .box .price{
    font-size: 2rem;
    color: var(--orange);
    font-weight: 300;
    font-weight: bolder;
    padding: 2rem;
}


.details .box-container .content{
    flex: 1;
    padding: 2rem;
    text-align: center;
}


.details .box-container .content h1{
    font-family: "Kaushan Script", cursive;
    font-size: 3rem;
    color: var(--orange);
}

.details  .box-container .content p{
    font-family: "Kaushan Script", cursive;
    font-size: 2rem;
    padding: 1.5rem;
    color: #333;
}





/* media */
@media (max-width: 990px){
   
    html{
        font-size: 50%;
    } 
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 520px){
   
    .details .box-container .box .image{
        flex: 1;
    }
}

@media (max-width: 450px){
   
    html{
        font-size: 45%;
    }
}





